//- +contentMain({sidebar: 0/1/2})
//-     block

mixin contentMain(config = {})

    if config.sidebar == 0
        .b-content-main.b-main__content
            block

    if config.sidebar == 1
        .b-content-main.b-main__content.b-main__content_sidebar-one
            block

    if config.sidebar == 2
        .b-content-main.b-main__content.b-main__content_sidebar-two
            block