//- +headerDesk({modBlock, modElem})
//-     block


mixin headerDesk(config = {})

    div(class=['b-header-desk', config.modBlock, 'b-header__desk', config.modElem])
        .b-header-desk__inner
            block