/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 07.11.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

.b-main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.b-main__item {}