//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    organization: "Totonis.com"
    date: "21.11.2018"
    email: "mr.michael.holiday@gmail.com"
    ----------------------------------------------------------------------

.b-footer 
    position: relative


.b-footer__inner 
    +wrapper()
