/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 07.11.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

.b-header {
    position: relative;
}

.b-header__desk{
    display: block;
    width: 100%;
    height: auto;

    @include sm(display, none);
}

.b-header__desk_sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.b-header__mob {
    display: none;
    width: 100%;
    height: auto;
    
    @include sm(display, block);
}

.b-header__mob_sticky {
    position: fixed;
    top: 0;
    left: 0;
}