//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "miliday.developer@gmail.com"
    ----------------------------------------------------------------------


.b-header-desk

.b-header-desk__inner


.b-header-mob

.b-header-mob__inner


.b-header 
    position: relative

.b-header__desk
    display: block
    width: 100%
    height: 160px
    +sm(display, none)

.b-header__desk_sticky 
    position: fixed
    top: 0
    left: 0

.b-header__mob 
    display: none
    width: 100%
    height: 80px
    +sm(display, flex)

.b-header__mob_sticky 
    position: fixed
    top: 0
    left: 0