//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "miliday.developer@gmail.com"
    ----------------------------------------------------------------------


.b-page 
    width: 100%
    height: auto
    max-width: 100%
    min-width: 320px
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative


.b-page__header
    +fix-tl()
    width: 100%
    height: auto
    z-index: 100


.b-page__main 
    width: 100%
    height: auto


.b-page__footer 
    width: 100%
    height: auto