/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 07.11.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

/*
    -------------------------------
    100 - Thin
    200 - Extra Light (Ultra Light)
    300 - Light
    400 - Regular (Normal)
    500 - Medium
    600 - Semi Bold (Demi Bold)
    700 - Bold
    800 - Extra Bold (Ultra Bold)
    900 - Black (Heavy)
    -------------------------------
*/ 

// Roboto

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Thin.eot');
    src: url('../font/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Thin.woff') format('woff'),
        url('../font/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-ThinItalic.eot');
    src: url('../font/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-ThinItalic.woff') format('woff'),
        url('../font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Light.eot');
    src: url('../font/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Light.woff') format('woff'),
        url('../font/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-LightItalic.eot');
    src: url('../font/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-LightItalic.woff') format('woff'),
        url('../font/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.eot');
    src: url('../font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Regular.woff') format('woff'),
        url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Italic.eot');
    src: url('../font/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Italic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Italic.woff') format('woff'),
        url('../font/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Medium.eot');
    src: url('../font/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Medium.woff') format('woff'),
        url('../font/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-MediumItalic.eot');
    src: url('../font/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('../font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Bold.eot');
    src: url('../font/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-BoldItalic.eot');
    src: url('../font/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-BoldItalic.woff') format('woff'),
        url('../font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Black.eot');
    src: url('../font/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../font/Roboto/Roboto-Black.woff') format('woff'),
        url('../font/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-BlackItalic.eot');
    src: url('../font/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('../font/Roboto/Roboto-BlackItalic.woff') format('woff'),
        url('../font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

// Open Sans

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-Light.eot');
    src: url('../font/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-Light.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-Light.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-LightItalic.eot');
    src: url('../font/Open_Sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-LightItalic.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-LightItalic.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-Regular.eot');
    src: url('../font/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-Regular.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-Italic.eot');
    src: url('../font/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-Italic.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-Italic.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-SemiBold.eot');
    src: url('../font/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-SemiBold.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-SemiBoldItalic.eot');
    src: url('../font/Open_Sans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-Bold.eot');
    src: url('../font/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-Bold.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-BoldItalic.eot');
    src: url('../font/Open_Sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-BoldItalic.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-ExtraBold.eot');
    src: url('../font/Open_Sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-ExtraBold.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans/OpenSans-ExtraBoldItalic.eot');
    src: url('../font/Open_Sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Open_Sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/Open_Sans/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../font/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

