/*
    ------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday$gmail.com
    ------------------------------------------------------------
    parting words: "The key to any science is the question mark"
    ------------------------------------------------------------
*/

/*
    ------------------------------------------------------------
    Example of a new function
    ------------------------------------------------------------
    @function name($variable) {
        @return $variable * 2;
    }
    ------------------------------------------------------------
*/

@function rem($pixels) {
    @return ($pixels / $parentRem) * 1rem;
}