/*
    --------------------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    --------------------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday$gmail.com
    --------------------------------------------------------------------------
    parting words: "The power of imagination is more important than knowledge"
    --------------------------------------------------------------------------
*/

/*
    --------------------------------------------------------------------------
    Example of a new mixin
    --------------------------------------------------------------------------
    @mixin name($value){
        property: $value;
    }
    --------------------------------------------------------------------------
*/

// Position
@mixin paddingBlock(){
    padding-top: $paddingBlock;
    padding-bottom: $paddingBlock;
    @include sm-block() {
        padding-top: $paddingBlock / 2;
        padding-bottom: $paddingBlock / 2;
    }
}

@mixin sectionPadding(){
    padding-top: $sectionPadding;
    padding-bottom: $sectionPadding;
    @include sm-block() {
        padding-top: $sectionPadding / 2;
        padding-bottom: $sectionPadding / 2;
    }
}

@mixin sectionSmallPadding(){
    padding-top: $sectionSmallPadding;
    padding-bottom: $sectionSmallPadding;
    @include sm-block() {
        padding-top: $sectionSmallPadding / 2;
        padding-bottom: $sectionSmallPadding / 2;
    }
}

@mixin sectionLargePadding(){
    padding-top: $sectionLargePadding;
    padding-bottom: $sectionLargePadding;
    @include sm-block() {
        padding-top: $sectionLargePadding / 2;
        padding-bottom: $sectionLargePadding / 2;
    }
}

@mixin sectionMargin(){
    margin-top: $sectionMargin;
    margin-bottom: $sectionMargin;
    @include sm-block() {
        margin-top: $sectionMargin / 2;
        margin-bottom: $sectionMargin / 2;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin sectionSmallMargin(){
    margin-top: $sectionSmallMargin;
    margin-bottom: $sectionSmallMargin;
    @include sm-block() {
        margin-top: $sectionSmallMargin / 2;
        margin-bottom: $sectionSmallMargin / 2;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin paragraphMargin(){
    margin-top: $paragraphMargin;
    margin-bottom: $paragraphMargin;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin colVerticalOffset() {
    margin-top: $colVerticalOffset;
    margin-bottom: $colVerticalOffset;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin rowVerticalOffset() {
    margin-top: $rowVerticalOffset;
    margin-bottom: $rowVerticalOffset;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media

@mixin mediaMax($break) {
    @media screen and (max-width: #{$break}) {
        @content;
    }
}

@mixin mediaMin($break) {
    @media screen and (min-width: #{$break}) {
        @content;
    }
}

// Additional

@mixin hoverOpacity() {
    opacity: 1;
    &:hover {
        opacity: .8;
    }
}