/*
    --------------------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    --------------------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday$gmail.com
    --------------------------------------------------------------------------
    parting words: "The power of imagination is more important than knowledge"
    --------------------------------------------------------------------------
*/

/*
    --------------------------------------------------------------------------
    Example of a new mixin
    --------------------------------------------------------------------------
    @mixin name($value){
        property: $value;
    }
    --------------------------------------------------------------------------
*/

// Position

@mixin absoluteFull() {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media

@mixin mediaMax($break) {
    @media screen and (max-width: #{$break}) {
        @content;
    }
}

@mixin mediaMin($break) {
    @media screen and (min-width: #{$break}) {
        @content;
    }
}

// Additional

@mixin hover($property, $valueStart, $valueEnd, $speed) {
    #{$property}: #{$valueStart};
    transition: all #{$speed} linear;
    &:hover {
        #{$property}: #{$valueEnd};        
    }
}