/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 07.11.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

// Rem config
$parentRem: 16px;
$parentRemLg: 16px;
$parentRemMd: 16px;
$parentRemSm: 16px;
$parentRemXs: 16px;

// Colors
$firstColor: #00838f;
$secondColor: #00838f;
$lightColor: #ffffff;
$darkColor: #000000;

// Fonts
$firstFont: 'Roboto', sans-serif;
$secondFont: 'Open Sans', sans-serif;