/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
    parting words: "Not everything is gold that glitters"
    ---------------------------------------------------------------
*/

/*
    ---------------------------------------------------------------
    Template for writing styles for the block
    ---------------------------------------------------------------
    .b-example-block {
        width: 100%;
        height: calc(~"10% + 100px");
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;            
    }
 
    .b-example-block__container {
        @include wrapper();
        @media screen and (max-width: 768px) {
            ...
        }
    }
    
    .b-example-block__row {
        width: 100%;
        max-width: none;
        margin: 0;
        padding: 30px;
    }
    ---------------------------------------------------------------
*/

// Vendor-import
@import "../lib/smart-grid.scss";
// Own-import 
@import "_functions";
@import "_mixins";
@import "_variables";
@import "_general";
@import "_fonts";

// Components-import 
@import "components/_menu-mobile-toggle";
@import "components/_modal-window";

// .b-title
.b-title {
    display: flex;
    flex-direction: row;
    font-family: $firstFont;
    color: $darkColor;
    text-align: left;
    font-size: rem(60px);
    font-weight: 700;
    line-height: 1.4;

    @include sm(font-size, rem(38px));
}

.b-title_light {
    color: $lightColor;
}

.b-title_accent {
    color: $accentColor;
}

.b-title__span {
    display: inline-flex;
    font-size: rem(60px);
}

.b-title__span_word-glue {
    font-size: 0;
    white-space: nowrap;
}

.b-title__span_light {
    color: $lightColor;
}

.b-title__span_accent {
    color: $accentColor;
}

// .b-subtitle
.b-subtitle {
    display: flex;
    flex-direction: column;
    font-family: $firstFont;
    color: $darkColor;
    text-align: left;
    font-size: rem(35px);
    font-weight: 600;
    line-height: 1.4;

    @include sm(font-size, rem(26px));
}

.b-subtitle_light {
    color: $lightColor;
}

.b-subtitle_accent {
    color: $accentColor;
}

.b-subtitle__span {
    display: inline-flex;
    font-size: rem(35px);
}

.b-subtitle__span_word-glue {
    font-size: 0;
    white-space: nowrap;
}

.b-subtitle__span_light {
    color: $lightColor;
}

.b-subtitle__span_accent {
    color: $accentColor;
}

// .b-description
.b-description {
    display: flex;
    flex-direction: row;
    font-family: $secondFont;
    color: $darkColor;
    text-align: left;
    font-size: rem(24px);
    font-weight: 600;
    line-height: 1.4;

    @include sm(font-size, rem(18px));
}

.b-description_light {
    color: $lightColor;
}

.b-description_accent {
    color: $accentColor;
}

.b-description__span {
    font-size: rem(24px);
    display: inline-flex;
}

.b-description__span_word-glue {
    font-size: 0;
    white-space: nowrap;
}

.b-description__span_light {
    color: $lightColor;
}

.b-description__span_accent {
    color: $accentColor;
}

// .b-text
.b-text {
    display: flex;
    flex-direction: column;
    font-family: $secondFont;
    color: $darkColor;
    text-align: left;
    font-size: rem(18px);
    font-weight: 600;
    line-height: 1.4;

    @include sm(font-size, rem(16px));
}

.b-text_light {
    color: $lightColor;
}

.b-text_accent {
    color: $accentColor;
}

.b-text__span {
    display: inline-flex;
    font-size: rem(18px);
}

.b-text__span_word-glue {
    font-size: 0;
    white-space: nowrap;
}

.b-text__span_light {
    color: $lightColor;
}

.b-text__span_accent {
    color: $accentColor;
}

// .b-section
.b-section {
    width: 100%;
    position: relative;
}

.b-section_padding {
    padding-top: $sectionPadding;
    padding-bottom: $sectionPadding;
    @include sm-block() {
        padding-top: $sectionPaddingMobile;
        padding-bottom: $sectionPaddingMobile;
    }
}

.b-section_shadow {
    box-shadow: rem(10px) rem(10px) rem(40px) rgba(0, 0, 0, .2);
}

.b-section_bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.b-section_bg-video {
    overflow: hidden;
}

.b-section_blackout::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .6);
}

.b-section_bg-img-bottom {
    background-position: center bottom;
}

.b-section_bg-img-top {
    background-position: center top;
}

.b-section_bg-img-repeat { 
    background-size: initial;
    background-repeat: repeat;
}

.b-section_bg-img-repeat-y {
    background-size: initial;
    background-repeat: repeat-y;
}

.b-section_bg-img-repeat-x {
    background-size: initial;
    background-repeat: repeat-x;
}

.b-section__video {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.b-section__header {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(50px);
    z-index: 3;
}

.b-section__header_container {
    @include wrapper();
}

.b-section__title {}

.b-section__title_center {
    text-align: center;
    align-self: center;
}

.b-section__title_right {
    text-align: right;
    align-self: flex-end;
}

.b-section__subtitle {}

.b-section__subtitle_center {
    text-align: center;
    align-self: center;
}

.b-section__subtitle_right {
    text-align: right;
    align-self: flex-end;
}

.b-section__description {}

.b-section__description_center {
    text-align: center;
    align-self: center;
}

.b-section__description_right {
    text-align: right;
    align-self: flex-end;
}

.b-section__text {}

.b-section__text_center {
    text-align: center;
    align-self: center;
}

.b-section__text_right {
    text-align: right;
    align-self: flex-end;
}

.b-section__main {
    position: relative;
    z-index: 3;
}

.b-section__main_container {
    @include wrapper();
}

// .b-header
.b-header {
    width: 100%;
    transition: all .2s linear;
    min-height: rem(120px);
    @include sm-block() {
        min-height: rem(80px);
    }
}

.b-header__desktop {
    height: rem(120px);
    @include sm-block() {
        height: 0;
    }
}

.b-header__desktop_sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.b-header__mobile {
    height: 0;
    @include sm-block() {
        height: rem(80px);
    }
}

.b-header__mobile_sticky {
    position: fixed;
    top: 0;
    left: 0;
}

// .b-header-desktop
.b-header-desktop {
    width: 100%;
    overflow: hidden;
    transition: all .2s linear;
    background-color: #263238;
}

.b-header-desktop__inner {
    height: inherit;
    @include wrapper();
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-header-desktop__logo {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(36px);
    font-weight: 900;
    @include hover(opacity, 1, .8, .1s);
}

.b-header-desktop__menu {
    display: flex;
    flex-direction: row;
}

.b-header-desktop__menu li {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}
 
.b-header-desktop__menu li a {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(18px);
    font-weight: 400;
    padding: rem(10px) rem(20px);
}

.b-header-desktop__menu li.active a {
    color: $accentColor;
}

// .b-header-mobile
.b-header-mobile {
    width: 100%;
    overflow: hidden;
    transition: all .2s linear;
    background-color: #34444d;
    box-shadow: 0 rem(10px) rem(40px) rgba(0, 0, 0, .2);
}

.b-header-mobile__inner {
    @include wrapper();
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.b-header-mobile__logo {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(36px);
    font-weight: 900;
}

.b-header-mobile__toggle {
    z-index: 1;
}

.b-header-mobile__menu {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: all .6s ease-in-out;
    transform: translate(-50%, -150%) scaleY(0);
    transform-origin: top;
    background-color: #3b4e58;
}

.b-header-mobile__menu_collapse {
    @include sm(transform, translate(-50%, -50%) scaleY(1));
}

.b-header-mobile__menu-inner {
    @include absoluteCenter();
    width: calc(50% - 110px);
    max-height: calc(50% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
}


.b-header-mobile__menu-inner li {
    list-style: none;
    text-align: center;
}

.b-header-mobile__menu-inner li a {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(26px);
    font-weight: 600;
    padding: 10px 20px;
}

.b-header-mobile__menu-inner li.active a {}

// .b-main
.b-main {
    display: flex;
    flex-direction: column;
    transition: all .2s linear;
    background-color: #fff;
    box-shadow: 0 rem(10px) rem(40px) rgba(0, 0, 0, .2);
}

.b-main__section {}
 
// .b-footer
.b-footer {
    min-height: rem(150px);
    box-sizing: content-box;
    overflow: hidden;
    transition: all .2s linear;
    @include sm-block() {
        min-height: rem(480px);
    }
}

.b-footer__desktop {
    height: rem(150px);
    @include sm-block() {
        height: 0;
    }
}

.b-footer__desktop_sticky {
    position: fixed;
    bottom: 0;
    left: 0;
}

.b-footer__mobile {
    height: 0;
    @include sm-block() {
        height: rem(480px);
    }
}

.b-footer__mobile_sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

// .b-footer-desktop
.b-footer-desktop {
    width: 100%;
    overflow: hidden;
    transition: all .4s linear;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b-footer-desktop__inner {
    height: inherit;
    width: 100%;
    @include wrapper();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.b-footer-desktop__logo {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(36px);
    font-weight: 900;
    @include hover(opacity, 1, .8, .1s);
}

.b-footer-desktop__menu {
    display: flex;
    flex-direction: row;
}

.b-footer-desktop__menu li {
    display: inline-flex;
    flex-direction: row;
}
 
.b-footer-desktop__menu li a {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(18px);
    font-weight: 400;
    padding: rem(10px) rem(20px);
}

.b-footer-desktop__menu li.active a {
    color: $accentColor;
}

.b-footer-desktop__copyright {
    width: 100%;
    padding: rem(15px) 0;
    font-family: $firstFont;
    color: $neutralColor;
    text-align: center;
    font-size: rem(14px);
    font-weight: 400;
}

// .b-footer-mobile
.b-footer-mobile {
    width: 100%;
    overflow: hidden;
    transition: all .4s linear;
    background-color: #263238;
}

.b-footer-mobile__inner {
    height: inherit;
    @include wrapper();
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.b-footer-mobile__logo {
    font-family: $secondFont;
    text-align: center;
    color: $lightColor;
    font-size: rem(36px);
    font-weight: 700;
    padding: rem(10px) rem(20px);
}

.b-footer-mobile__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-footer-mobile__menu li {
    list-style: none;
}

.b-footer-mobile__menu li a {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(18px);
    font-weight: 600;
    padding: rem(10px) rem(20px);
}

.b-footer-mobile__menu li.active a {}

.b-footer-mobile__copyright {
    font-family: $firstFont;
    color: $lightColor;
    text-align: center;
    font-size: rem(16px);
    font-weight: 100;
}

// .b-page
.b-page {
    width: 100%;
    min-width: 360px;
    position: relative;
    z-index: 1;
}

.b-page__header {
    position: relative;
    z-index: 3;
}

.b-page__header_absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.b-page__main {
    position: relative;
    z-index: 2;
}

.b-page__footer {
    position: relative;
    z-index: 1;
}

// .b-modal-test
.b-modal-test {
    @include row-flex();
}

.b-modal-test__col-left {
    @include col();
    @include size(6);
    @include size-sm(12);
    @include sm(margin-bottom, 30px);
}

.b-modal-test__col-right {
    @include col();
    @include size(6);
    @include size-sm(12);
}

// .b-example
.b-example {
    @include row-flex();
    align-items: center;
}

.b-example__col-left {
    @include col();
    @include size(6);
    @include size-sm(12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-example__col-right {
    @include col();
    @include size(6);
    @include size-sm(12);
}

.b-example__img {
    @include sm(margin-bottom, rem(30px));
}

.b-example__subtitle {}

.b-example__text {}