//- Components
include ./components/menu.pug
include ./components/logo.pug

//- Sections
include ./sections/example.pug

//- Templates
include ./templates/header.pug
include ./templates/headerDesk.pug
include ./templates/headerMob.pug
include ./templates/content.pug
include ./templates/sidebar.pug
include ./templates/main.pug
include ./templates/footer.pug
include ./templates/footerDesk.pug
include ./templates/footerMob.pug
include ./templates/page.pug