//- Components
include ./components/menu.pug
include ./components/logo.pug

//- Sections
include ./sections/exampleSection.pug

//- Templates
include ./templates/headerPage.pug
include ./templates/headerDesk.pug
include ./templates/headerMob.pug
include ./templates/contentMain.pug
include ./templates/sidebarMain.pug
include ./templates/mainPage.pug
include ./templates/footerPage.pug
include ./templates/footerDesk.pug
include ./templates/footerMob.pug
include ./templates/page.pug