extends ../layouts/layout.pug

block head
    title Miliday template

block style
    +style('./assets/css/main.css')

block main
    section.b-page
        header.b-header.b-page__header
            | header
        
        main.b-main.b-page__main
            | main
        
        footer.b-footer
            | footer

block script
    +script('./assets/js/main.js')