extends ../layouts/page-first.pug

block head
    title lesson vue

    +style('./assets/css/main.css')

block body
    section.b-page
        header.b-header.b-page__header
            .b-header-desk.b-header__desk
                p header-desk

            .b-header-mob.b-header__mob
                p header-mob
        
        main.b-main.b-page__main
            p main
        
        footer.b-footer
            p footer

    +script('./assets/js/main.js')