//- Service
extends ../layout.pug

block configPage
    - const headerDesk          = true;
    - const headerMob           = true;
    - const contentMain         = true;
    - const sidebarMainLeft     = false;
    - const sidebarMainRight    = false;
    - const footerDesk          = true;
    - const footerMob           = true;

block configСomponents
    - var pageConfig              = {};
    - var headerPageConfig        = {absoluteLg: true, absoluteSm: false};
    - var headerDeskConfig        = {stiky: false};
    - var headerMobConfig         = {stiky: true};
    - var sidebarMainLeftConfig   = {};
    - var sidebarMainRightConfig  = {};
    - var contentMainConfig       = {};
    - var mainPageConfig          = {};
    - var footerPageConfig        = {};
    - var footerDeskConfig        = {};
    - var footerMobConfig         = {};

//- Head
block styleVendor
block styleOwn
    +incStyle('./assets/css/main.css')

block styleInline
    style.
        body {
            display: block;
        }

//- Header
block headerPage
block headerDesk
block headerMob

//- Main
block mainPage

//- Content
block contentMain
    section.b-example.b-content__example
        .b-example__inner
            img(class="b-example__img" src="./assets/img/tmp/rocket.png")
            p.b-example__test test


//- Sidebars
block sidebarMainLeft
block sidebarMainRight

//- Footer
block footerPage
block footerDesk
block footerMob

//- Scripts
block scriptVendor
    +incScript('./assets/lib/jquery-3.3.1.min.js')

block scriptOwn
    +incScript('./assets/js/main.js')
    +incScript('./assets/js/test.js')

block scriptInit
    script.
        console.log('scriptInitExample')