/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

// Header Mobile-menu
.b-menu-mobile-header {
    overflow-y: auto;
    overflow-x: hidden;
}

.b-menu-mobile-header__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.b-menu-mobile-header__list_center {
    align-items: center;
}

.b-menu-mobile-header__list_right {
    align-items: flex-end;
}

.b-menu-mobile-header__list>li {
    display: inline-flex;
    margin: rem(10px) 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.b-menu-mobile-header__list>li>a {
    padding: rem(5px);
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(32px);
    font-weight: 400;
    text-decoration: none;
    transition: opacity .2s linear;
    @include hoverOpacity();
}

.b-menu-mobile-header__list>li.active>a {}