/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 18.06.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

// Modal-window
.b-modal-window {
    width: 200%;
    height: 200%;
    min-height: 420px;
    overflow: hidden;
    background-color: #3b4e58;
    z-index: 2;
    transition: all .6s ease-in-out;
    transform-origin: bottom;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 150%) scaleY(0);
}

.b-modal-window_collapse {
    transform: translate(-50%, -50%) scaleY(1);
}

.b-modal-window__close {
    width: 30px;
    height: 22px;
    position: absolute;
    top: calc(25% + 15px);
    right: calc(25% + 15px);
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 4px;
        @include absoluteCenter();
        transition: all .2s linear;
        border-radius: 2px;
        background-color: $lightColor;
    }
    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover {
        &:before {
            width: 120%;
        }
        &:after {
            width: 120%; 
        }
    }
}

.b-modal-window__container {
    width: 100%;
    max-width: $break_lg;
    max-height: calc(50% - 110px);
    padding: 0 rem(30px);
    @include absoluteCenter();    
    transition: all .2s linear;
    overflow-y: auto;
    overflow-x: hidden;
    @include lg(max-width, $break_md);
    @include md(max-width, $break_sm);
    @include sm(max-width, $break_xs);
    @include sm(padding, 0 rem(15px));
    @include xs(max-width, 420px);
    @include mediaMax(420px) {
        max-width: 320px;
    }
}

.b-modal-window__title {
    margin-bottom: rem(30px);
    text-align: left;
    font-family: $firstFont;
    color: $lightColor;
    font-size: rem(36px);
    font-weight: 600;
    line-height: 1.2;
}

.b-modal-window__title_center {
    text-align: center;
}

.b-modal-window__title_right {
    text-align: right;
}

.b-modal-window__content {
    font-family: $secondFont;
    color: $lightColor;
    font-size: rem(16px);
    font-weight: 400;
    line-height: 1.4;
}