//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "mr.michael.holiday@gmail.com"
    ----------------------------------------------------------------------

// Position
=ofs($y: 0, $x: 0)
    transform: translate($x, $y)


=fix($t: auto, $r: auto, $b: auto, $l: auto)
    position: fixed
    top: $t
    bottom: $b
    left: $l
    right: $r

=fix-tl($t: 0, $l: 0)
    +fix($t, auto, auto, $l)

=fix-tr($t: 0, $r: 0)
    +fix($t, $r, auto, auto)

=fix-bl($b: 0, $l: 0)
    +fix(auto, auto, $b, $l)

=fix-br($b: 0, $r: 0)
    +fix(auto, $r, $b, auto)

    
=abs($t: auto, $r: auto, $b: auto, $l: auto)
    position: absolute
    top: $t
    bottom: $b
    right: $r
    left: $l

=abs-ofs($t: auto, $r: auto, $b: auto, $l: auto, $x: 0, $y: 0)
    +abs($t, $r, $b, $l)
    +ofs($x, $y)


=abs-tl($t: 0, $l: 0)
    +abs($t, auto, auto, $l)

=abs-tl-ofs($t: 0, $l: 0, $x: 0, $y: 0)
    +abs-tl($t, $l)
    +ofs($x, $y)


=abs-tr($t: 0, $r: 0)
    +abs($t, $r, auto, auto)

=abs-tr-ofs($t: 0, $r: 0, $x: 0, $y: 0)
    +abs-tr($t, $r)
    +ofs($x, $y)


=abs-bl($b: 0, $l: 0)
    +abs(auto, auto, $b, $l)

=abs-bl-ofs($b: 0, $l: 0, $x: 0, $y: 0)
    +abs-bl($b, $l)
    +ofs($x, $y)


=abs-br($b: 0, $r: 0)
    +abs(auto, $r, $b, auto)

=abs-br-ofs($b: 0, $r: 0, $x: 0, $y: 0)
    +abs-br($b, $r)
    +ofs($x, $y)


// Pseudo
=aft($content: '')
    &:after
        content: $content
        @content


=bfr($content: '')
    &:before
        content: $content
        @content

// Typography
=txt($c, $fs, $fw, $lh) 
    color:  $c
    font-size: $fs 
    font-weight: $fw
    line-height: $lh

// Gradients

=grd-bg($direction: 0deg)
    background: linear-gradient($direction, $gradient-start, $gradient-end)

=grd-txt($direction: 0deg)
    +grd-bg($direction)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

// Interactive
=hvr($speed: 300, $easing: linear) 
    transition: all $speed $easing
    cursor: pointer
    &:hover
        @content

=fcs($speed: 300, $easing: linear) 
    cursor: pointer
    transition: all $speed $easing
    &:focus 
        @content
        
=act($speed: 300, $easing: linear) 
    cursor: pointer
    transition: all $speed $easing
    &:active 
        @content


// Others
=ie-target()
    @media screen and (min-width:0\0)
        @content

    @supports (-ms-ime-align:auto)
        @content

    @supports (-ms-accelerator:true)
        @content

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
        @content
    