//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "miliday.developer@gmail.com"
    ----------------------------------------------------------------------

// Colors
$firstColor: #00838f
$secondColor: #00838f
$lightColor: #ffffff
$darkColor: #000000

// Fonts
$firstFont: 'Roboto', sans-serif
$secondFont: 'Open Sans', sans-serif