//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "miliday.developer@gmail.com"
    ----------------------------------------------------------------------

// Colors
$color-firts: red
$color-second: blue

$color-dark: #000000
$color-light: #ffffff

// Fonts
$font-first: 'Roboto', sans-serif
$font-second: 'Open Sans', sans-serif

// Config
$speed: 200
$easing: linear