//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    email: "miliday.developer@gmail.com"
    ----------------------------------------------------------------------

// Colors
$color-firts: red
$color-second: blue

$color-dark: #000000
$color-light: #ffffff


// Gradients
$gradient-end: darken(red, 5%)
$gradient-start: lighten(red, 5%)


// Fonts
$font-first: 'Proxima Nova', sans-serif
$font-second: 'Proxima Nova Cn', sans-serif


// Config
$speed: 200
$easing: linear