//- Components
include ./components/_menu.pug
include ./components/_logo.pug

//- Templates
include ./templates/_headerPage.pug
include ./templates/_headerDesk.pug
include ./templates/_headerMob.pug
include ./templates/_contentMain.pug
include ./templates/_sidebarMain.pug
include ./templates/_mainPage.pug
include ./templates/_footerPage.pug
include ./templates/_footerDesk.pug
include ./templates/_footerMob.pug
include ./templates/_page.pug