//- +example()
//-     append header
//-     append main

mixin example()

    section.b-example.b-content__example
        header.b-example__header
            block header
            
        .b-example__main
            block main