//- ----------------------------------------------------------------------
//- Starter markup template miliday - "Made with love, especially for you"
//- ----------------------------------------------------------------------
//- nickname: "Michael Holiday"
//- email: "miliday.developer@gmail.com"
//- ----------------------------------------------------------------------


include ../addons/variables.pug
include ../addons/mixins.pug

include ../components/*.pug

include ./head.pug


doctype html
html
    +head()
        block head
        block style

    body
        block main
        block script