//- +headerPage({absoluteLg: false, absoluteSm: false})
//-     block

mixin headerPage(config = {})

    if !config.absoluteLg && !config.absoluteSm
        header.b-header-page.b-page__header
            block
            
    if config.absoluteLg && config.absoluteSm
        header.b-header-page.b-page__header.b-page__header_absolut
            block

    if config.absoluteLg && !config.absoluteSm
        header.b-header-page.b-page__header.b-page__header_absolut-lg
            block

    if !config.absoluteLg && config.absoluteSm
        header.b-header-page.b-page__header.b-page__header_absolut-sm
            block
