/*
    ---------------------------------------------------------------
    Startup template creator - "Made with love, especially for you"
    ---------------------------------------------------------------
    nickname: Michael Holiday
    organization: "Totonis.com"
    date: 07.11.2018
    email: mr.michael.holiday@gmail.com
    ---------------------------------------------------------------
*/

// Media
@mixin media-max($break) {
    @media screen and (max-width: #{$break}) {
        @content;
    }
}

@mixin media-min($break) {
    @media screen and (min-width: #{$break}) {
        @content;
    }
}

// Typography
@mixin text($color, $fontSize, $fontWeight, $lineHeight) {
    color:  #{$color};
    font-size: #{$fontSize};
    font-weight: #{$fontWeight};
    line-height: #{$lineHeight};
}

// Interactive
@mixin hover($property, $value, $speed, $function) {
    transition: #{$property} #{$speed} #{$function};
    &:hover {
        #{$property}: #{$value};        
    }
}

@mixin hover-block($speed, $function) {
    transition: all #{$speed} #{$function};
    &:hover {
        @content;
    }
}

@mixin focus($property, $value, $speed, $function) {
    transition: #{$property} #{$speed} #{$function};
    &:focus {
        #{$property}: #{$value};        
    }
}

@mixin focus-block($speed, $function) {
    transition: all #{$speed} #{$function};
    &:hover {
        @content;
    }
}

@mixin active($property, $value, $speed, $function) {
    transition: #{$property} #{$speed} #{$function};
    &:active {
        #{$property}: #{$value};        
    }
}

@mixin active-block($speed, $function) {
    transition: all #{$speed} #{$function};
    &:active {
        @content;
    }
}