//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    organization: "Totonis.com"
    date: "21.11.2018"
    email: "mr.michael.holiday@gmail.com"
    ----------------------------------------------------------------------

/* Main */
@import './smartGrid.sass'
@import './normalize.sass'
@import './variables.sass'
@import './functions.sass'
@import './mixins.sass'
@import './general.sass'
@import './fonts.sass'
 
/* Components */
@import './components/mainMenu.sass'
@import './components/logo.sass'

/* Sections */
@import './sections/example.sass'

/* Template */
@import './template/headerMob.sass'
@import './template/headerDesk.sass'
@import './template/headerPage.sass'

@import './template/sidebarMain.sass'
@import './template/contentMain.sass'

@import './template/mainPage.sass'

@import './template/footerMob.sass'
@import './template/footerDesk.sass'
@import './template/footerPage.sass'

@import './template/page.sass'