//
    ----------------------------------------------------------------------
    Starter markup template miliday - "Made with love, especially for you"
    ----------------------------------------------------------------------
    nickname: "Michael Holiday"
    organization: "Totonis.com"
    date: "21.11.2018"
    email: "mr.michael.holiday@gmail.com"
    ----------------------------------------------------------------------


/* Main */
@import './addons/_smartGrid.sass'
@import './addons/_normalize.sass'
@import './addons/_variables.sass'
@import './addons/_functions.sass'
@import './addons/_mixins.sass'
@import './addons/_general.sass'
@import './addons/_fonts.sass'


/* Components */
@import './components/_*.sass'


/* Template */
@import './template/_header.sass'
@import './template/_main.sass'
@import './template/_footer.sass'
@import './template/_page.sass'